<footer class="footer">

    <div class="inner-footer">
      <div class="social-links">
        <ul>
          <li class="social-items"><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li class="social-items"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
          <li class="social-items"><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="social-items"><a href="#"><i class="fab fa-tumblr-square"></i></a></li>
        </ul>
      </div>
      <div class="quick-links">
        <ul>
          <li class="quick-items"><a href="#">Home</a></li>
          <li class="quick-items"><a href="#">Services</a></li>
          <li class="quick-items"><a href="#">Careers</a></li>
          <li class="quick-items"><a href="#">About Us</a></li>
          <li class="quick-items"><a href="#">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="outer-footer">
      Copyright &copy; Shopping Cart. All Rights Reserved
    </div>
</footer>