<div class="menu">
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
        <header>Categories</header>
        <ul>
            <li><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="#"><i class="fas fa-atom"></i>Electronics</a></li>
            <li><a href="#"><i class="far fa-gem"></i>Jewllery</a></li>
            <li><a href="#"><i class="fas fa-user-secret"></i>Mens Clothing</a></li>
            <li><a href="#"><i class="far fas fa-tshirt"></i>Womens Clothing</a></li>
            <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
            <li><a href="#"><i class="fas fa-address-book"></i>Contact</a></li>
        </ul>
    </div>
    </div>
